.contactList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.contactItem {
  display: flex;
  gap: 10px;
  background: linear-gradient(145deg, #dce9f5, #f5f3ed);
  border-radius: 16px;
  box-shadow: 6px 6px 12px rgba(34, 45, 65, 0.4),
    -6px -6px 12px rgba(240, 248, 255, 0.2);
  padding: 10px;
  width: 364px;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  .contactList {
    max-width: 748px;
    justify-content: start;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .contactList {
    max-width: 1132px;
    justify-content: start;
    margin: 0 auto;
  }
}
